<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>

  <%- include('./partials/nav.ejs') %>
  <div class="container">

  <div class="details content main">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <div class="delete">
      <a data-doc="<%= blog._id %>">删 除</a>
    </div>
  </div>

</div>

<%- include('./partials/footer.ejs') %>

</body>
<script>
  const delBtn = document.querySelector('.delete a');
  delBtn.addEventListener('click', (e) => {
    const endpoint = `/blogs/${delBtn.dataset.doc}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: 'DELETE'
      })
      .then(r => r.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err))
  })
</script>

</html>