<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
  <div class="container">
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/nav.ejs') %>
    <br />

    <p>💻
      这是小田在 Node.js + Express 弄的blog
    </p>
    <br />

    <p>
      🎵
      正在收听Spotify Weekly
    </p>
    <br />

    <p>
      🎬
      想看电影
    </p>

    <br />

    <div class="main">
      <h1>All Blogs</h1>
      <% if(blogs.length> 0) { %>
      <% blogs.forEach(x=>{%>
      <div class="post">
        <a href="/blogs/<%= x._id %>">
          <h2><%=x.title %></h2>
          <p><%=x.snippets %></p>
        </a>
      </div>
      <% }) %>

      <% } else {%>
      <p>opps, 一片荒芜 ..</p>
      <% }%>
      <%- include('./partials/footer.ejs') %>

    </div>
  </div>
</body>

</html>